<% layout("layouts/boilerplatecode.ejs") -%>  
<body>
    <style>
        #filters {
          display: flex;
          flex-wrap: wrap;
        }
        .filter {
  text-align: center;
  margin-right: 2rem;
  margin-top: 2rem;
  opacity: 0.7;
}

.filter:hover {
  opacity: 1;
  cursor: pointer;
}
.filter p {
    font-size: o.8rem;

}
.tax-info{
    display: none;
}
.tax-toggle {
  border: 1px solid black;
  border-radius: 1rem;
  height: 3.25rem;
  padding: 1rem;
  margin-left: 2rem; /* Corrected from 5re; to 5rem; */
  display: flex;
  align-items: center;
  margin-top: 1.75rem;
}
        </style>
        
        <div id="filters">
          <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
          </div>
          <div class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
          </div>
          <div class="filter">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic Cities</p>
          </div>
          
          <div class="filter">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountains</p>
          </div>
          
          <div class="filter">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Castles</p>
          </div>
          <div class="filter">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Amazing Pools</p>
          </div>
          <div class="filter">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
          </div>
          
          <div class="filter">
            <div><i class="fa-solid fa-cow"></i></div>
            <p>Farms</p>
          </div>
          
          <div class="filter">
            <div><i class="fa-regular fa-snowflake"></i></div>
            <p>Arctic</p>
          </div>
          <div class="filter">
            <div><i class="fa-solid fa-igloo"></i></div>
            <p>Domes</p>
          </div>
          
          <div class="filter">
            <div><i class="fa-solid fa-ship"></i></div>
            <p>Boats</p>
          </div>
          <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
              </div>
          </div>
        </div>
    

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <% for (let listing of allListings) { %>
            <div class="col">
                <a href="/listings/<%= listing._id %>" class="listing-link">
                    <div class="card" style="width: 20rem;">
                        <!-- Display the image using the URL stored in the database -->
                        <img class="card-img-top" src="<%= listing.image.url %>" alt="listing_image">
                        <div class="card-img-overlay">aaaaaaaaaaaaa</div>
                        <div class="card-body">
                            <b><p class="card-text"><%= listing.title %></b><br>
                            &#x20B9;<%= listing.price.toLocaleString("en-IN") %> / night</p>
                        <i  class="tax-info"> +18% GST</i>
                        </div>
                    </div>
                </a>
            </div>
        <% } %>
    </div>
    

</body>

<script>
    let taxSwitch = document.getElementById("flexSwitchCheckDefault");
    
    taxSwitch.addEventListener("click", () => {
      let taxInfo = document.getElementsByClassName("tax-info");
    
      for (info of taxInfo) {
        if (info.style.display != "inline") {
          info.style.display = "inline";
        } else {
          info.style.display = "none";
        }
      }
    });
    </script>