<% layout ("layouts/boilerplatecode.ejs") -%>

        <div class="row">
            <div class="col-8 offset-2">

            <body>
                <br>
                <br>
                <h1>Create a new listing</h1>
                <form action="/listings" novalidate class="needs-validation" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Tittle</label>
                <input type="text" name="listing[title]" placeholder="title" class="form-control" required>
                <div class="valid-feedback">Tittle looks good</div>

            </div>
           

            <div class="mb-3">
                <label for="description" class="form-label" required>Description</label>

                <input type="text" name="listing[description]" required class="description form-control" >
                <div class="invalid-feedback">Please enter the short descreption</div>
                </div>


         
            <div class="mb-3">
                <label for="image" class="form-label">Upload listing image</label>
                <input name="listing[image]" required type="file" placeholder="enter the  image URL/link " class="form-control">
            
            </div>


           <div class="row">

            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>

                <input type="number" name="listing[price]" placeholder="price" required class="price form-control">
                <div class="invalid-feedback">Price should be valid</div>
            </div>

           <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Location</label>

            <input type="text" name="listing[location]" placeholder="location" required class="location form-control">
            <div class="invalid-feedback">Location name should be valid</div> 
        </div>
           </div>

           <div class="mb-3" >
            <label for="country" class="form-label">Country</label>

            <input type="text" name="listing[country]" placeholder="country" required class="country form-control">
            <div class="invalid-feedback">Country name should be valid</div>
        </div>

            <br>
            <br>
            <button type="submit" class="btn btn-dark add-btn" >Add</button>
            <br>
            <br>
        </form>




        </div>
    </div>